.carousel__item {
  width: 500px;
  height: 300px;
}

.carousel__item__description {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: var(--cortinex-orange);
}

.carousel__item > img {
  border-radius: 15px;
}
